body{
  background-image: url("bg/bg1.png");
  background-size: cover;
  font-family: cursive;
}

a{
  color: brown;
}

h1{
  font-size: 275%;
  margin: 0;
}

h3{
  font-size: 225%;
  margin: 0;
}

img{
  width: 45%;
}

ul{
  font-size: 200%;
  color: #000000;
}

video{
  width: 50%;
}
